<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="include/header :: header"></head>
<body ng-controller="MainController">

<div id="nav-bar" th:replace="include/navbar :: navbar">
	This is the navbar
</div>
<div id="app-container" layout:fragment="content">
	Page content goes here
</div>
<th:block th:replace="include/footer :: scripts">
	Scripts block
</th:block>
<footer th:replace="include/footer :: footer"></footer>
</body>
</html>