<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<body>
<div layout:fragment="content">
	<!--/*@thymesVar id="verifySuccess" type="java.lang.Boolean"*/-->
	<tn-login
		th:attr="verify-success=${verifySuccess},error=${(param.error != null and session[SPRING_SECURITY_LAST_EXCEPTION] != null) ? session[SPRING_SECURITY_LAST_EXCEPTION].message: ''}">
		<input
			type="hidden"
			th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}"/>
	</tn-login>
</div>
</body>
</html>