<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<body>
<div layout:fragment="content">
	<div class="ui height-100 inverted vertical masthead segment">
		<div class="ui height-100 middle aligned center aligned grid">
			<div class="column">
				<h1>
					Oops!</h1>
				<h2>
					404 Not Found</h2>
				<div class="ui medium image marg-10-top">
					<img src="/images/face.png"/>
				</div>
				<div class="error-details marg-40-top">
					Sorry, an error has occured, Requested page not found!
				</div>
				<div class="error-actions marg-10-top">
					<a class="ui primary link labeled icon button" href="http://www.jquery2dotnet.com">
						<i class="home icon"></i>
						Take Me Home
					</a>
					<a class="ui labeled link icon button" href="http://www.jquery2dotnet.com">
						<i class="call icon"></i>
						Contact Support
					</a>
				</div>
			</div>
		</div>
	</div>

</div>
</body>
</html>