<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--/*@thymesVar id="noNavBar" type="java.lang.Boolean"*/-->
<div class="ui inverted red menu site-menu" th:fragment="navbar" th:unless="${noNavBar}">
	<div class="header item">
		<a href="/" class="pointer">
			<img class="site-logo" src="/images/project.png"/>
		</a>
	</div>
	<div class="right menu" sec:authorize="isAuthenticated()">
		<a class="item" href="#" th:href="@{/logout}">Log Out</a>
	</div>
</div>
</html>